.wd-search-bar {
    border-radius: 20px;
    background-color: #202326;
    background-image: url("search.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 35px;
    border: none;
    height: 25px;
    vertical-align: bottom;
    color: white;
    width: 80%;
    font-size: 15px;
}

.wd-gear-image {
    position: fixed;
    right: 12px;
    height: 30px;

}

.wd-top-menu-item {
    padding: 16px 32px 16px 0px;
    float: left;
    text-align-last: center;
    font-size: 15px;
}

.wd-top-menu-item-highlight {
    color: #1DA1F2;
    hover: #1DA1F2;
    visited: #1DA1F2;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-bottom-color: #1DA1F2;
    padding-bottom: 13px;
}


h2 {
    font-size: 15px;
    padding: 2px;
    margin: 0px;
}

p {
    font-size: 13px;
    color: #6E767D;
    padding: 2px;
    margin: 0px;
    font-weight: normal;
}

.wd-title-text {
    color: white;
    font-weight: bold;
}

.wd-image {
    float: right;
    height: 100px;
    margin-right: 16px;
    border-radius: 20px;
}

.wd-check {
    height: 12px;
}

