body {
    background-color: black;
    color: white;
    font-family: "Segoe UI", Helvetica, sans-serif, chirp;
    padding-left: 16px;
    padding-right: 16px;
}

.wd-grid-one-col{
    width: 100%;
    float: left;
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
}

a {
    color: #6E767D;
    hover: #6E767D;
    visited: #6E767D;
    text-decoration: none;
}