.wd-headline {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.wd-username {
    color: #6E767D;
    font-size: 13px;
}

.wd-avatar {
    border-radius: 24px;
    width: 48px;
    margin-right: 12px;
    float: left;
}

.wd-indent {
    max-width: 506px;
    color: white;
    font-size: 15px;
    float: left;
    padding-right: 16px;
    width: 100%;
}

.wd-bookmark-image {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-top: 12px;
}

.wd-grey {
    color: #6E767D;
}

.wd-red {
    color: red;
}

.wd-border {
    border-style: solid;
    border-color: #2F3336;
    float: left;
    width: 100%;
}

.wd-bold {
    font-weight: bold;
}

.wd-padding {
    padding: 12px;
}

.wd-round {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.wd-four-grid {
    float: left;
    width: 25%;
}

hr {
    border: black;
}